/* intro */
body.no_scroll {
  overflow: hidden !important;
}

.intro_sec {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background: #C2BBFF;
  overflow: hidden;
  /* intro - btn */
  /* intro - bg_cloud */
}
.intro_sec .slogan_group {
  text-align: center;
}
.intro_sec h1 img {
  margin: 0 auto;
}
.intro_sec h1, .intro_sec .btn {
  animation: ani-fade-up 1s both;
}
.intro_sec p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
  color: #3c21b7;
  letter-spacing: 0.26em;
}
.intro_sec p span {
  animation: ani-fade 1s both;
}
.intro_sec p span:nth-child(2) {
  animation-delay: 0.1s;
}
.intro_sec p span:nth-child(3) {
  animation-delay: 0.2s;
}
.intro_sec p span:nth-child(4) {
  animation-delay: 0.3s;
}
.intro_sec p span:nth-child(5) {
  animation-delay: 0.4s;
}
.intro_sec p span:nth-child(6) {
  animation-delay: 0.5s;
}
.intro_sec p span:nth-child(7) {
  animation-delay: 0.6s;
}
.intro_sec p span:nth-child(8) {
  animation-delay: 0.7s;
}
.intro_sec p span:nth-child(9) {
  animation-delay: 0.8s;
}
.intro_sec p span:nth-child(10) {
  animation-delay: 0.9s;
}
.intro_sec p span:nth-child(11) {
  animation-delay: 1s;
}
.intro_sec p span:nth-child(12) {
  animation-delay: 1.1s;
}
.intro_sec p span:nth-child(13) {
  animation-delay: 1.2s;
}
.intro_sec p span:nth-child(14) {
  animation-delay: 1.3s;
}
.intro_sec p span:nth-child(15) {
  animation-delay: 1.4s;
}
.intro_sec p span:nth-child(16) {
  animation-delay: 1.5s;
}
.intro_sec p span:nth-child(17) {
  animation-delay: 1.6s;
}
.intro_sec p span:nth-child(18) {
  animation-delay: 1.7s;
}
.intro_sec p span:nth-child(19) {
  animation-delay: 1.8s;
}
.intro_sec p span:nth-child(20) {
  animation-delay: 1.9s;
}
.intro_sec p span:nth-child(21) {
  animation-delay: 2s;
}
.intro_sec .btn {
  display: inline-block;
  position: relative;
  width: 160px;
  line-height: 36px;
  cursor: pointer;
  font-family: "Pretendard";
  font-size: 0.94rem;
  font-weight: 600;
  letter-spacing: 0.3em;
  text-align: center;
  color: #3c21b7;
  text-transform: uppercase;
}
.intro_sec .btn .border {
  position: relative;
  height: 36px;
  border: 1px solid #1b0d57;
  border-radius: 3px;
  overflow: hidden;
  transition: 0.1s ease-out;
}
.intro_sec .btn:hover .border {
  border: none;
  box-shadow: 0px 0px 10px 0px rgb(232, 228, 255);
}
.intro_sec .btn .left-plane, .intro_sec .btn .right-plane {
  position: absolute;
  width: 100px;
  height: 36px;
  background: #fff;
  transition: 0.15s ease-out;
}
.intro_sec .btn .left-plane {
  left: 0;
  transform: translateX(-100%);
}
.intro_sec .btn .right-plane {
  right: 0;
  transform: translateX(100%);
}
.intro_sec .btn:hover .left-plane, .intro_sec .btn:hover .right-plane {
  transform: translateX(0%);
}
.intro_sec .btn .text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  color: #1b0d57;
  transform: translateY(-50%);
  transition: 0.15s ease-out;
}
.intro_sec .btn:hover .text {
  color: #C2BBFF;
}
.intro_sec .cloud_group {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}
.intro_sec .clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
}
.intro_sec .clouds:nth-child(1) {
  animation: 8s linear infinite bgGrowing1;
  background-image: url(../img/cloud_2.png);
}
.intro_sec .clouds:nth-child(2) {
  animation: 8s linear infinite bgGrowing2;
  background-image: url(../img/cloud_2.png);
}
.intro_sec .clouds:nth-child(3) {
  animation: 16s linear infinite cloudGrow1;
  background-image: url(../img/cloud.png);
}
.intro_sec .clouds:nth-child(4) {
  animation: 16s linear infinite cloudGrow2;
  background-image: url(../img/cloud.png);
}

@keyframes ani-fade-up {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes ani-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bgGrowing1 {
  0% {
    opacity: 0;
    transform: scale3d(1, 1, 1);
  }
  25% {
    opacity: 0.15;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    transform: scale3d(1.7, 1.7, 1);
  }
  100% {
    opacity: 0;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bgGrowing2 {
  0% {
    opacity: 0.85;
    transform: scale3d(1.35, 1.35, 1);
  }
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    transform: scale3d(1.7, 1.7, 1);
  }
  50% {
    opacity: 0;
    transform: scale3d(1, 1, 1);
  }
  75% {
    opacity: 0.15;
  }
  100% {
    opacity: 0.85;
    transform: scale3d(1.35, 1.35, 1);
  }
}
@keyframes cloudGrow1 {
  0% {
    opacity: 1;
    transform: scale3d(3.1, 3.1, 1);
  }
  15% {
    opacity: 0;
    transform: scale3d(3.8, 3.8, 1);
  }
  25% {
    opacity: 0;
    transform: scale3d(1, 1, 1);
  }
  50% {
    opacity: 0.15;
  }
  75% {
    transform: scale3d(2.4, 2.4, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(3.1, 3.1, 1);
  }
}
@keyframes cloudGrow2 {
  0% {
    opacity: 0.25;
    transform: scale3d(1.7, 1.7, 1);
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 0;
    transform: scale3d(3.8, 3.8, 1);
  }
  75% {
    opacity: 0;
    transform: scale3d(1, 1, 1);
  }
  90% {
    opacity: 0.15;
  }
  100% {
    opacity: 0.25;
    transform: scale3d(1.7, 1.7, 1);
  }
}