.contact {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 5vw;
  text-align: center;
}
.contact .blur {
  filter: blur(80px);
  position: absolute;
  z-index: 1;
  border-radius: 900px;
}
.contact .blur:nth-child(1) {
  left: 0;
  bottom: 5%;
  width: 480px;
  height: 480px;
  background-color: #E7F5FF;
}
.contact .blur:nth-child(2) {
  left: 10%;
  top: -10%;
  background-color: #FFF2F2;
}
.contact .blur:nth-child(3) {
  bottom: 0;
  width: 480px;
  height: 480px;
  background-color: #FFFFE7;
}
.contact .blur:nth-child(4) {
  right: 10%;
  top: 0;
  width: 480px;
  height: 480px;
  background-color: #EEFFE7;
}
.contact .blur:nth-child(5) {
  right: 0;
  background-color: #EDEAFF;
}

.contact_info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 90%;
  transform: translate(-50%, -50%);
}
.contact_info .contact_contact_wrap h4 {
  margin-bottom: 80px;
  font-weight: 300;
  text-align: left;
  color: #5e00f8;
}
.contact_info .contact_contact_wrap p {
  text-align: left;
  line-height: 1.5;
  font-weight: 400;
}

.gform {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  background-color: unset;
  text-align: left;
}
.gform .contact_name, .gform .contact_mail {
  width: 100%;
  border: none;
  border-bottom: 1px solid #c3c3c3;
  outline: none;
  background-color: unset;
  line-height: 1.5;
  cursor: text;
  cursor: text;
}
.gform .contact_message {
  width: 100%;
  border: none;
  border-bottom: 1px solid #c3c3c3;
  outline: none;
  background-color: unset;
  line-height: 2;
  cursor: text;
  grid-column: 1/3;
  cursor: text;
}
.gform .contact_btn {
  width: 60px;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #C2BBFF;
  color: #5e00f8;
  text-align: center;
  background-color: #EAE7FF;
  transition: all 0.6s ease-in-out;
  cursor: none;
}

.contact_thanks {
  display: none;
  margin-left: 20%;
  font-size: 1.5rem;
  font-weight: 300;
}

input::-moz-placeholder {
  color: #c3c3c3;
}

input::placeholder {
  color: #c3c3c3;
}

@media screen and (min-width: 1024px) {
  .contact .blur:nth-child(2) {
    width: 760px;
    height: 760px;
  }
  .contact .blur:nth-child(3) {
    left: 30%;
  }
  .contact .blur:nth-child(5) {
    bottom: 0;
    width: 700px;
    height: 700px;
  }
  .contact_contact_wrap h4 {
    font-size: 3rem;
  }
  .contact_contact_wrap p {
    font-size: 1rem;
  }
  .gform {
    grid-row-gap: 60px;
    row-gap: 60px;
    width: 500px;
    margin-left: 200px;
  }
  .gform .contact_name, .gform .contact_mail, .gform .contact_message {
    font-size: 1.125rem;
  }
  .gform .contact_btn {
    width: 100px;
    padding: 10px 20px;
    font-size: 1.125rem;
    transform: translate(300px, 20px);
  }
  .gform .contact_btn:hover {
    background-color: #C2BBFF;
  }
  #cursor.writing .cursor_circle {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .contact .blur:nth-child(2) {
    width: 560px;
    height: 560px;
  }
  .contact .blur:nth-child(3) {
    right: 0;
    z-index: 2;
  }
  .contact .blur:nth-child(5) {
    bottom: 10%;
    width: 550px;
    height: 550px;
  }
  .contact_contact_wrap h4 {
    font-size: 2rem;
  }
  .contact_contact_wrap p {
    font-size: 0.625rem;
  }
  .gform {
    grid-row-gap: 20px;
    row-gap: 20px;
    width: 300px;
    margin: 0 0 20px 40px;
  }
  .gform .contact_name, .gform .contact_mail, .gform .contact_message {
    font-size: 0.875rem;
  }
  .gform .contact_btn {
    width: 60px;
    padding: 5px;
    font-size: 0.875rem;
    transform: translate(140px, 10px);
  }
}
@media screen and (max-width: 767px) {
  .contact .blur:nth-child(1), .contact .blur:nth-child(2), .contact .blur:nth-child(4) {
    width: 200px;
    height: 200px;
  }
  .contact .blur:nth-child(3) {
    width: 200px;
    height: 200px;
    left: 30%;
  }
  .contact .blur:nth-child(5) {
    width: 200px;
    height: 200px;
    bottom: 0;
  }
  .contact_info {
    flex-direction: column;
  }
  .contact_info .contact_contact_wrap h4 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
  }
  .contact_info .contact_contact_wrap p {
    font-size: 1rem;
    text-align: center;
  }
  .gform {
    display: block;
    width: 300px;
    margin: 50px 0 20px;
  }
  .gform .contact_name, .gform .contact_mail, .gform .contact_message {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
  .gform .contact_btn {
    width: 60px;
    padding: 5px;
    font-size: 0.875rem;
    transform: translate(0);
  }
}