@import "../common/var";
@import "../common/mixin";


.profile {
    @include section-size;
    display: flex; justify-content: center; align-items: center;
    .blur {
        filter: blur($blur-amount);
        position: absolute; z-index: 1;
        border-radius: 900px;
        background: $blur-bg-color;
        
        &:nth-child(1) {
            height: $blur-1-size;
            width: calc($blur-1-size * 1.1);
        }
        &:nth-child(2) {
            filter: blur($blur-amount) hue-rotate(50deg) brightness(1);
            height: $blur-2-size;
            width: calc($blur-2-size * 0.75);
            top: 20vh; right: 20vh;
        }
        &:nth-child(3) {
            filter: blur($blur-amount) hue-rotate(-50deg);
            height: $blur-3-size;
            width: calc($blur-3-size * 2);
            bottom: 20vh; left: 20vw;
        }
    }
}
.portfolio-item{
    display: flex; flex-wrap: wrap; justify-content: space-between;
    width: 100%; z-index: 100;
}
.portfolio-description h3{
    display: inline-block;
    position: relative; left: -5%; width: 100%;
    font-size: $text-8; font-weight: 200; line-height:1; text-transform:uppercase;
    text-align: left; 
}
.portfolio-description .skills li{
    display: flex; justify-content: space-between;
    padding: 5px 0;
}
.portfolio-description .skills .skills_name{ display: flex; justify-content: space-between; }
.portfolio-description .skills .skills_name li{
    margin-right: 10px; padding: 3px 10px;
    border: 1px solid $contact-text-color; border-radius: 10px;
    color: $sub-color-2; background-color: rgba(255, 255, 255, 0.5);
}

.other-links{
    position: relative; left: 0; top: 50px ; z-index: 100;
    box-sizing: border-box; text-align: center;
        a{
        display: inline-block;
        margin: 0 8px;
        text-decoration: none; text-transform: uppercase;
        color: $sub-color-2; font-weight: 600;
        opacity: 0.7;
        transition: all 0.2s ease-in;
        font-size: $text-2; letter-spacing: 1px; text-align: center;
    }
}

@include res-desktop {
    .portfolio-item{
        padding: 10%;
        &:hover .portfolio-thumb{ transform: translateX(-1.75rem); }
        &:hover .portfolio-description{ transform: translateX(1.75rem); }
    }
    .portfolio-thumb{
    width: 30%; 
    transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
        img{
        width: 100%;
        transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
        transform-origin:90% center; border-radius: 100%;
        }
    }
    .portfolio-description{
    display: flex; justify-content: center; flex-wrap: wrap; flex-direction: column;
    width: 60%;
    transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
        h3{ font-size: $text-8; }
        p{
        margin: 0; padding-top: 60px;
        font-size: $text-5;
        opacity:0.8; line-height: 1.5;
        }
        .skills{ width: 600px; margin-top: 100px; }
        .skills .skills_name li{ font-size: $text-3; }
    }
    .other-links a{
        font-size: $text-6;
        &:hover{ transform: translateY(-3px); opacity: 1; }
    }
}

@include res-tablet {
    .portfolio-item{ padding: 3%; }
    .portfolio-thumb{ width: 25%; }
    .portfolio-thumb img{
        width: 100%;
        transform-origin:90% center; border-radius: 100%;
    }
    .portfolio-description{
        display: flex; justify-content: center; flex-wrap: wrap; flex-direction: column;
        width: 66%; 
        h3{ font-size: $text-5; }
        p{
        width: 100%; margin:0; padding-top: 30px;
        font-size: $text-2;
        opacity:0.8; line-height: 1.5;
        }
        .skills{
            position: relative; left: -45%;
            width: 140%; margin-top: 100px;
            .skills_type{ font-size: $text-2; }
            .skills_name li{ font-size: $text-1; }
        }
    }
    .other-links a{ font-size: $text-2; }
}
@include res-mobile {
    .profile .blur {
        filter: blur($blur-amount);
        position: absolute; z-index: 1;
        border-radius: 900px;
        background: $blur-bg-color;
        &:nth-child(1) {
            height: $blur-1-size;
            width: calc($blur-1-size * 1.1);
        }
        &:nth-child(2) {
            filter: blur($blur-amount) hue-rotate(50deg) brightness(1);
            height: $blur-2-size;
            width: calc($blur-2-size * 0.75);
            top: 20vh; right: 20vh;
        }
        &:nth-child(3) {
            filter: blur($blur-amount) hue-rotate(-50deg);
            height: $blur-3-size;
            width: calc($blur-3-size * 2);
            bottom: 20vh; left: 20vw;
        }
    }
    
    .portfolio-item{ flex-direction: column; padding: 5%; }
    .portfolio-thumb{
        display: flex; justify-content: space-evenly;
        width: 100%; margin-bottom: 50px;
        img{
            width: 50%;
            transform-origin: 90% center; border-radius: 100%;
        }
    }
    
    .portfolio-thumb .other-links { 
        top: 0;
        a{
            margin: auto 0;
            width: 100%;
            height: 50%;
            display: grid;
            align-content: space-evenly;
        }
        span{ display: none; }
    }
    .portfolio-description{
        display: flex; justify-content: center; flex-wrap: wrap; flex-direction: column;
        width: 90%; margin: 0 auto;
        h3{ left: 0; font-size: $text-2; line-height: 1.5;  }
        p{
            margin: 0; padding-top: 30px;
            font-size: $text-1;
            opacity:0.8; line-height: 1.5;
        }
        .skills{ 
            left: 0;
            width: 100%; margin-top: 50px; 
            .skills_name li{ 
                margin-right: 2px;
                padding: 2px 5px;
                font-size: $text-1; 
            }
        }
    }
}