//color - light
$background-color-light: #fff;
$background-color-dark: #000;
$main-color-light: #333;
$main-color-dark: #ededed;
$sub-color-1: #3c21b7;
$sub-color-2: #5e00f8;
$blur-bg-color: #EAE7FF;
$contact-text-color: #c3c3c3;
$button-color: #C2BBFF;
$no-color: unset;
$background-bk: rgba(0,0,0,0.8);

//font-family
$ko-font: 'pretendard' sans-serif;
$en-font: 'Montserrat', sans-serif;
$en-font-serif: 'Cinzel', serif;

//font-size
$text-1: 0.625rem; //12px
$text-2: 0.875rem; //14px
$text-3: 1rem; //16px
$text-4: 1.125rem; //18px
$text-5: 1.25rem; //20px
$text-6: 1.5rem; //24px
$text-7: 1.75rem; //28px
$text-8: 2rem; //32px
$text-9: 3rem; //48px
$text-10: 3.5rem; //56px
$text-11: 4rem; //64px
$text-12: 5rem; //80px
$text-13: 5.25rem; //84px
$text-14: 7rem; //112px
$text-15: 12rem; //192px

//blur
$blur-1-size: clamp(300px, 50vw, 50vw);
$blur-2-size: clamp(200px, 40vw, 40vw);
$blur-3-size: clamp(100px, 10vw, 10vw);
$blur-amount: clamp(50px, 5vw, 90px);

//toggle
$darkmode-toggle-size: 2vw;

//breack point
$desktop: 1024px;
$tablet: 1023px;
$mobile: 767px;
